# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/
*/build/

# Environment variables
.env
.env.*
!.env.example
*/.env
*/.env.*
!*/.env.example

# Database & SQLite files
*.db
*.db-journal
*.sqlite
*.sqlite3
server/prisma/*.db
server/prisma/*.db-journal

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor Android build output
client/android/app/build/
client/android/.gradle/
